@import "variables";
@import "mixins";
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Roboto&display=swap";
@import "https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css";

$darkMode: true;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin-inline: 1rem;
  line-height: 1.6rem;
  background: $white;
  color: $black;

  @include darkMode {
    color-scheme: dark;
    background: $black;
    color: $white;
  }
}

h1 {
  margin-block: 3rem;
  position: relative;

  &:before {
    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -1rem;

    @include darkMode {
      background: white;
    }
  }
}

h2,
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

hr {
  margin-block: 2rem;
  height: 2px;
  width: 80%;
  margin-inline: auto;
  border: none;
  background: black;

  @include darkMode {
    background: white;
  }
}

ul,
ol {
  margin: 2rem 0 2rem 1rem;
  padding-left: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 3rem;

  &:has(+ p) {
    margin-bottom: 1.6rem;
  }
}

main {
  margin-inline: auto;
  max-width: 500px;
}

li {
  padding-left: 1rem;
  margin-block: 0.5rem;
}

code {
  margin-block: 1rem;
}

blockquote {
  padding-inline: 2rem;
  color: $darkGray;
  position: relative;
  margin-block: 2rem;

  @include darkMode {
    color: $lightGray;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: $lightGray;
    width: 5px;
    height: 100%;

    @include darkMode {
      background: $darkGray;
    }
  }

  & > p {
    margin-block: 1rem;
  }
}

figure {
  margin: 3rem;

  & > img {
    width: 100%;
  }

  & > figcaption {
    text-align: center;
    font-style: italic;
  }
}
