@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin-inline: 1rem;
  line-height: 1.6rem;
}

h1 {
  margin-block: 3rem;
  position: relative;

  &:before {
    content: "";
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -0.5rem;
  }
}

h2,
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

hr {
  margin-block: 2rem;
  height: 2px;
  border: none;
  background: black;
}

ul,
ol {
  margin: 2rem 0 2rem 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 3rem;

  &:has(+ p) {
    margin-bottom: 1.6rem;
  }
}

main {
  margin-inline: auto;
  max-width: 500px;
}

li {
  padding-left: 1rem;
  margin-block: 0.5rem;
}

code {
  margin-block: 1rem;
}

blockquote {
  padding-inline: 2rem 1rem;
  background-color: beige;
  color: saddlebrown;
  position: relative;
  margin-block: 2rem;
  overflow: auto;

  &:before {
    position: absolute;
    top: 0;
    left: 0.5rem;
    content: "";
    background: saddlebrown;
    width: 0.5rem;
    height: 100%;
  }

  & > p {
    margin-block: 1rem;
  }
}

figure {
  margin: 3rem;

  & > img {
    width: 100%;
  }

  & > figcaption {
    text-align: center;
    font-style: italic;
  }
}
